/*-------------VARIABLES-----------------*/
$padding: 25px;

$white: #c6c6c6;
$whiteBorder: #999;
$whiteFooterFadeText: #999;

$greyMain: #363636;
$greyDark: #222222;
$greyMilky: #5e5d5a;

$orangeMain: #b5985a;

$orangeTitleBar: #ac996f;


$gridRadius: 6px;

/*-------------MIXINS-----------------*/
@mixin flex ($just, $align, $dir:row){
    display: flex;
        @if $just == c { $just: center; }
        @if $just == s { $just: flex-start; }
        @if $just == e { $just: flex-end; }
        @if $just == sa { $just: space-around; }
        @if $just == sb { $just: space-between; }
        @if $just == se { $just: space-evenly; }
        @if $align == c { $align: center; }
        @if $align == s { $align: flex-start; }
        @if $align == e { $align: flex-end; }

        @if $align == none {$align: initial}
    justify-content: $just;
    align-items: $align;
    flex-direction: $dir;
}