@charset "UTF-8";
/*-------------VARIABLES-----------------*/
:root {
  --padding: 25px;
  --white: #c6c6c6;
  --whiteBorder: #999;
  --whiteFooterFadeText: #999;
  --greyMain: #363636;
  --greyDark: #222222;
  --greyMilky: #5e5d5a;
  --orangeMain: #b5985a;
  --orangeTitleBar: #ac996f;
  --gridRadius: 6px;
}

/*-------------MIXINS-----------------*/
body {
  margin: 0;
  padding: 0;
  direction: rtl;
  color: var(--white);
}

body * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body a {
  color: inherit;
  text-decoration: none;
}

body p {
  margin: 0;
}

#modals .overlay {
  background: #0f0f0f82;
  position: fixed;
  height: 100vh;
  width: 100vw;
  display: none;
  cursor: pointer;
  z-index: 2;
}

#modals > * {
  position: fixed;
  left: 0;
  right: 0;
  margin: auto;
  opacity: 95%;
  z-index: 3;
}

#modals .placeOrder {
  top: 10%;
  border: 1px solid black;
  width: 65%;
  height: 75%;
  background-color: #e2e2e2;
  padding: var(--padding);
  display: none;
  font-size: .8125rem;
  opacity: .89;
}

#modals .placeOrder nav {
  background-color: grey;
  padding: 0 10px;
}

#modals .placeOrder nav button {
  color: white;
  border: none;
  padding: 12px 5px;
  background: none;
  margin-left: 10px;
}

#modals .placeOrder .addItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 15px 0;
}

#modals .placeOrder .addItem .wrap {
  width: 15%;
}

#modals .placeOrder .addItem .wrap input {
  width: 90%;
  background-color: #fff;
  border: 1px solid var(--whiteBorder);
  font-size: .6875rem;
  padding: 2px 5px;
  margin-top: 3px;
}

#modals .placeOrder .addItem .wrap input:focus {
  outline: none;
}

#modals .placeOrder .addItem .wrap label {
  display: block;
  color: black;
  font-size: .75rem;
}

#modals .placeOrder .addItem button {
  color: white;
  background-color: var(--orangeMain);
  border: none;
  padding: 3px 0;
  width: 10%;
  border-radius: 9px;
  font-size: .8rem;
}

#modals .placeOrder .selectedItems {
  border: 1px solid #727272;
  border-radius: var(--gridRadius);
  padding: calc(var(--padding)/2);
  height: 46%;
  margin: 2% 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: fs;
      -ms-flex-pack: fs;
          justify-content: fs;
  -webkit-box-align: initial;
      -ms-flex-align: initial;
          align-items: initial;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  overflow-y: scroll;
}

#modals .placeOrder .selectedItems .item {
  background-color: #d2d3d3;
  color: black;
  font-size: .8125em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  padding: 8px;
}

#modals .placeOrder .bottom {
  font-size: .7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: initial;
      -ms-flex-align: initial;
          align-items: initial;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#modals .placeOrder .bottom .col {
  padding: 10px 25px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto auto auto auto;
      grid-template-columns: auto auto auto auto auto auto;
  -ms-grid-rows: auto auto;
      grid-template-rows: auto auto;
  row-gap: 1em;
}

#modals .placeOrder .bottom .col span {
  color: black;
}

#modals .placeOrder .bottom .col span.price {
  background-color: white;
  padding: 0 .4em;
}

#modals .placeOrder .bottom .col span.price::after {
  content: 'ریال';
  margin-right: .4em;
}

#modals .placeOrder .bottom .col:first-child {
  background-color: #c4c4c4;
  width: 58%;
}

#modals .placeOrder .bottom .col:nth-child(2) {
  width: 25%;
}

#modals .placeOrder .bottom .col .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: initial;
      -ms-flex-align: initial;
          align-items: initial;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  color: black;
  width: 168px;
}

#modals .placeOrder .bottom .col .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: black;
}

#modals .placeOrder .bottom .col .row span.price {
  background-color: white;
}

#modals .placeOrder .bottom .col .row span.price::after {
  content: "ریال";
}

#modals .placeOrder .bottom .col .button {
  background-color: var(--orangeMain);
  color: white;
  border-radius: var(--gridRadius);
  text-align: center;
  font-weight: bold;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 /3;
}

#modals .placeOrder .bottom img {
  width: 70px;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  margin: auto;
}

#modals .placeOrder.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: initial;
      -ms-flex-align: initial;
          align-items: initial;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#modals.active .overlay {
  display: block;
}

.mainCont {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: initial;
      -ms-flex-align: initial;
          align-items: initial;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  background-color: var(--greyMain);
}

.mainCont .titleBar {
  -webkit-box-flex: 0.6;
      -ms-flex: 0.6;
          flex: 0.6;
  text-align: center;
  padding: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-size: .8125em;
  color: var(--orangeTitleBar);
}

.mainCont nav {
  -webkit-box-flex: 2.4;
      -ms-flex: 2.4;
          flex: 2.4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 0 var(--padding);
  background-color: var(--greyDark);
  font-size: .75rem;
}

.mainCont nav .rSide a {
  margin-left: 10px;
}

.mainCont nav .rSide a:first-child {
  color: black;
  background-color: #b5985a;
  border: 1px solid #eeeeee;
  border-radius: 5px;
  padding: 6px 14px;
  font-size: .6875rem;
}

.mainCont nav .rSide a:nth-child(2) {
  color: var(--orangeMain);
}

.mainCont nav .lSide {
  font-size: 1.125em;
  color: var(--orangeMain);
}

.mainCont section.grid {
  --gridBoxMargin: 10px;
  -webkit-box-flex: 20;
      -ms-flex: 20;
          flex: 20;
  padding: calc(var(--padding) - var(--gridBoxMargin));
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 20% auto;
      grid-template-columns: 20% auto;
  -ms-grid-rows: 20% auto;
      grid-template-rows: 20% auto;
  background-color: var(--greyMilky);
}

.mainCont section.grid > * {
  margin: var(--gridBoxMargin);
}

.mainCont section.grid .topRight {
  border: 1px solid black;
}

.mainCont section.grid .topLeft {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 30px;
}

.mainCont section.grid .topLeft .buyItem {
  border: 2px solid var(--orangeMain);
  border-radius: var(--gridRadius);
  color: var(--white);
  padding: var(--padding);
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.mainCont section.grid .topLeft .buyItem:hover {
  cursor: pointer;
  border-color: #fff;
  background-color: rgba(110, 110, 110, 0.6);
}

.mainCont section.grid .bottomRight {
  border: 1px solid var(--whiteBorder);
  background-color: rgba(181, 152, 90, 0.4);
  border-radius: var(--gridRadius);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.mainCont section.grid .bottomRight .item {
  font-size: .75rem;
  color: #222;
  border-radius: var(--gridRadius);
  background-color: #a7a5a5;
  text-align: center;
  border: none;
  width: 140px;
  padding: 10px 0;
}

.mainCont section.grid .bottomRight .item:hover {
  cursor: pointer;
}

.mainCont section.grid .bottomLeft {
  border: 1px solid var(--whiteBorder);
  border-radius: var(--gridRadius);
  background-color: rgba(110, 110, 110, 0.6);
  padding: 20px;
}

.mainCont section.grid .bottomLeft button {
  background-color: var(--orangeMain);
  color: white;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: var(--gridRadius);
  border: none;
  font-family: inherit;
  display: block;
  cursor: pointer;
  display: none;
}

.mainCont section.grid .bottomLeft button.active {
  display: block;
}

.mainCont footer {
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 7px;
  font-size: .75rem;
  color: var(--whiteFooterFadeText);
}

.mainCont footer span,
.mainCont footer a {
  display: block;
}
/*# sourceMappingURL=style.css.map */