@import "_variables.scss";
body {
  * {
    box-sizing: border-box;
  }
  margin: 0;
  padding: 0;
  direction: rtl;
  a {
    color: inherit;
    text-decoration: none;
  }
  p {
    margin: 0;
  }
  color: var(--white);
}

#modals {
  .overlay {
    background: #0f0f0f82;
    position: fixed;
    height: 100vh;
    width: 100vw;
    display: none;
    cursor: pointer;
    z-index: 2;
  }
  > * {
    position: fixed;
    left: 0;
    right: 0;
    margin: auto;
    opacity: 95%;
    z-index: 3;
  }
  .placeOrder {
    top: 10%;
    border: 1px solid black;
    width: 65%;
    height: 75%;
    background-color: #e2e2e2;
    padding: var(--padding);
    display: none;
    font-size: .8125rem;
    opacity: .89;
    nav {
      background-color: grey;
      padding: 0 10px;
      button {
        color: white;
        border: none;
        padding: 12px 5px;
        background: none;
        margin-left: 10px;
      }
    }
    .addItem {
      @include flex(sb, e);
      padding: 15px 0;
      .wrap {
        width: 15%;
        input {
          width: 90%;
          background-color: #fff;
          border: 1px solid var(--whiteBorder);
          font-size: .6875rem;
          padding: 2px 5px;
          margin-top: 3px;
          &:focus {
            outline: none;
          }
        }
        label {
          display: block;
          color: black;
          font-size: .75rem;
        }
      }
      button {
        color: white;
        background-color: var(--orangeMain);
        border: none;
        padding: 3px 0;
        width: 10%;
        border-radius: 9px;
        font-size: .8rem;
      }
    }
    .selectedItems {
      border: 1px solid #727272;
      border-radius: var(--gridRadius);
      padding: calc(var(--padding)/2);
      height: 46%;
      margin: 2% 0;
      @include flex(fs, none, column);
      gap: 10px;
      overflow-y: scroll;
      .item {
        background-color: #d2d3d3;
        color: black;
        font-size: .8125em;
        display: flex;
        gap: 30px;    
        padding: 8px;    
      }
    }
    .bottom {
      font-size: .75rem;
      @include flex(sb, none);
      .col {
        padding: 10px 25px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 12px;
        &:first-child {
          background-color: #c4c4c4;
          width: 58%;
        }
        &:nth-child(2) {
          width: 25%;
        }
        .item {
          @include flex(sb,none);
          color: black;
          width: 168px;
        }
        .row {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          color: black;


          span.price {
            background-color: white;
            &::after {
              content: "ریال";
            }
          }
        }
        .button {
          background-color: var(--orangeMain);
          color: white;
          border-radius: var(--gridRadius);
          text-align: center;
          font-weight: bold;
        }
      }
      img {
        width: 70px;
        height: max-content;
        margin: auto;
      }
    }

    &.active {
      @include flex(sb, none, column);
    }
  }
  &.active .overlay {
    display: block;
  }
}

.mainCont {
  height: 100vh;
  @include flex(sb, none, column);
  width: 100%;
  background-color: var(--greyMain);

  .titleBar {
    flex: 0.6;
    text-align: center;
    padding: 10px 0;
    @include flex(c, c);
    font-size: .8125em;
    color: var(--orangeTitleBar);
  }

  nav {
    flex: 2.4;
    @include flex(sb, c);
    padding: 0 var(--padding);
    background-color: var(--greyDark);
    font-size: .75rem;
    .rSide {
      a {
        margin-left: 10px;
      }
      a:first-child {
        color: black;
        background-color: #b5985a;
        border: 1px solid #eeeeee;
        border-radius: 5px;
        padding: 6px 14px;
        font-size: .6875rem;
      }
      a:nth-child(2) {
        color: var(--orangeMain);
      }
    }
    .lSide {
      font-size: 1.125em;
      color: var(--orangeMain);
    }
  }

  section.grid {
    --gridBoxMargin: 10px;
    flex: 20;
    padding: calc(var(--padding) - var(--gridBoxMargin));
    display: grid;
    grid-template-columns: 20% auto;
    grid-template-rows: 20% auto;
    background-color: var(--greyMilky);
    > * {
      margin: var(--gridBoxMargin);
    }
    .topRight {
      border: 1px solid black;
    }
    .topLeft {
      @include flex(c, c);
      gap: 30px;
      .buyItem {
        border: 2px solid var(--orangeMain);
        border-radius: var(--gridRadius);
        color: var(--white);
        padding: var(--padding);
        transition: 0.1s;

        &:hover {
          cursor: pointer;
          border-color: #fff;
          background-color: rgba(110, 110, 110, 0.6);
        }
      }
    }
    .bottomRight {
      border: 1px solid var(--whiteBorder);
      background-color: rgba(181, 152, 90, 0.4);
      border-radius: var(--gridRadius);
      @include flex(se, c, column);
      .item {
        font-size: .75rem;
        color: #222;
        border-radius: var(--gridRadius);
        background-color: rgb(167, 165, 165);
        text-align: center;
        border: none;
        width: 140px;
        padding: 10px 0;
        &:hover {
          cursor: pointer;
        }
      }
    }
    .bottomLeft {
      border: 1px solid var(--whiteBorder);
      border-radius: var(--gridRadius);
      background-color: rgba(110, 110, 110, 0.6);
      padding: 20px;
      button {
        background-color: var(--orangeMain);
        color: white;
        font-weight: bold;
        padding: 10px 20px;
        border-radius: var(--gridRadius);
        border: none;
        font-family: inherit;
        display: block;
        cursor: pointer;
        display: none;
        &.active {
          display: block;
        }
      }
    }
  }

  footer {
    flex: 4;
    text-align: center;
    @include flex(c, c, column);
    gap: 7px;
    font-size: .75rem;
    color: var(--whiteFooterFadeText);
    span,
    a {
      display: block;
    }
  }
}
